@media (max-width: 840px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #262626;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
    text-align: center;
  }

  nav.active .menu a {
    font-size: 1.3rem;
  }
}

/********** overskrifter *********/
.top {
  position: relative;
  text-align: center;
}
.top1 {
  position: relative;
  text-align: center;
}

.overskrift {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**************** forside *************/
@media (min-width: 840px) {
  .grid_3-5 {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 20px;
    margin: 50px;
  }
  .box1 {
    grid-row: span 2;
  }
  .box2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
  }

  .box3 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
    place-content: center;
    margin-inline: auto;
  }

  .box7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .box8 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 840px) {
  .grid_1-1 {
    padding: 20px;
  }

  .box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .box2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .box3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .box4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center;
  }

  .box5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center;
  }

  .box6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center;
  }
  .box7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center;
  }

  .box8 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center;
  }
}
/************** nyheder **********/
@media (min-width: 840px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .order {
    order: -1;
  }
}

/*************** historier *********/
@media (min-width: 840px) {
  .grid1_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .order1 {
    order: 1;
  }
}

/************** om os *************/
.facebook {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 30px;
  place-items: center;
  margin-inline: auto;
  margin-bottom: 50px;
}

/************ footer **********/
.ikoner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  place-content: center;
  margin-inline: auto;
}
